version: '3.8'

services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: categories-game-client
    restart: unless-stopped
    ports:
      - "3002:80"
    networks:
      - app-network

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: categories-game-server
    restart: unless-stopped
    ports:
      - "3003:3003"
    environment:
      - NODE_ENV=production
      - PORT=3003
      - CLIENT_URL=https://panstwa-miasta.webkor.pl
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
